# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Arduino/ESP8266/ESP32
**/config.h
*/config.h
build/
*.bin
*.elf
*.hex

# Archives
*.7z
*.zip
*.rar
*.tar.gz

# Database/Docker
pgdata/

# OS/IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.bak
